<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/enterOne.css">
    <link rel="stylesheet" href="css/enterTwo.css">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>图书馆管理员</title>
    <script>
    function   uploadbook(){
			 var bookname=document.getElementById("bookname").value;
			 var boocreate=document.getElementById("bookcreatename").value;
			 var bookfilename=document.getElementById("booktext").files[0];
			 var bookfile=new FormData();
			 alert(bookfilename.name+"->"+bookfilename);
			 if(bookname=="" || boocreate==""){
				 alert("书籍名称或作者名称为空 !");
			 }else{
				 var xmmlhttp=new XMLHttpRequest();

				 xmmlhttp.onreadystatechange=function(){

				 }
				 xmmlhttp.open("get","/bookmain/uploadbook",true);
				 xmmlhttp.send(bookfile);
			 }
		 }
		function  sc(){

			var xmlhttp=new XMLHttpRequest();

            var name=document.getElementById("sc_bookname").value;
			var create=document.getElementById("sc_bookcreate").value;
			alert(name+"----"+create);
			xmlhttp.onreadystatechange=function(){
				if(xmlhttp.readyState==4 && xmlhttp.status==200){
				   alert("修改成功");
				}
				if(xmlhttp.status==500){
				alert("后台程序错误");
				}

			}
			xmlhttp.open("post","/?"+data,true);
			xmlhttp.send();
		}
	</script>
</head>
<body>
<!--查询-->
<div class="title-line">
    <span class="tit"  style="font-size: 38px;">书籍查询</span>
    <input type="text">
</div>
<div>

</div>
<!-- 借阅-->
<div class="title-line">
    <span class="tit"  style="font-size: 38px;">图书借阅</span>
        <table width="943" height="274" border="0">
            <tbody align="center" >
            <tr>
                <th scope="col">编号</th>
                <th scope="col">书名</th>
                <th scope="col">作者</th>
                <th scope="col">书籍类别</th>
                <th scope="col">详情</th>
                <th scope="col">删除</th>
            </tr>
            <tr th:each="book,stat:${page.Records}">
                <td th:text="${stat.count}">&nbsp;</td>
                <td th:text="${book.bookname}"></td>
                <td th:text="${book.bookcreate}">&nbsp;</td>
                <td th:text="${book.bookclass}">&nbsp;</td>
                <td>
                    <a th:href="@{/bookmain/books(bookname=${book.bookname})}">详情</a>
                </td>
                <td>
<!--                    <a th:href="@{/data/delete/{deleteOne}(deleteOne=${user.id},pn=${page.current })}">删除</a>-->
                </td>
            </tr>
            <tbody>
        <table>
        当前在第  [[${page.current}]] 页， 总共  [[${page.pages}]] 页 ，一共 [[${page.total}]]  条记录 <br>
            <a th:each="num:${#numbers.sequence(1,page.pages)}">
                <a th:href="@{/bookmain/admin(pn=${num})}">[[${num}]]</a>
            </a>
            <div>

</div>
<!-- 上传 -->
<div class="title-line">
    <span class="tit"  style="font-size: 38px;">图书上传</span>
</div>
<div>
        <form action="/bookmain/uploadbook" method="post" enctype="multipart/form-data">
            <a>上传文件：</a><input type="file" id="booktext" name="booktext" ><br>
            <a>书籍名称：</a>  <input type="text" id="bookname" name="bookname"> <br>
            <a>书籍类型:</a><select id="class" name="class"><br>
            <option value="0">请选择</option>
            <option value="1">java</option>
            <option value="2">c++</option>
            <option value="4">玄幻</option>
            <option value="5">其他</option>
        </select><br>
    		<a>作者：</a><input type="text" id="bookcreatename" name="bookCreate"> <br>

    		<input type="submit" value="添加书籍" >
<!--            onClick="uploadbook();" -->
        </form>
</div>

</body>
</html>