<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.roleMapper">
    <resultMap id="role" type="com.demo.pojo.role">
        <result column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
    </resultMap>
    <select id="getbyid" resultMap="role" resultType="com.demo.pojo.role">
        select * from role where roleId=${roleId}
    </select>

    <select id="getbyname_hwx" resultType="com.demo.pojo.role" resultMap="role">
        select roleId,roleName from role
        <where>
            <if test="roleId!=null and roleId!=''">roleId=${roleId}</if>
            <if test="roleName!=null and roleName!=''">roleName=${roleName}</if>
        </where>
    </select>

</mapper>