<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.roleMapper">
    <resultMap id="role" type="com.demo.pojo.role">
        <result column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
    </resultMap>
    <select id="getbyid" resultType="com.demo.mapper.roleMapper" resultMap="role">

    </select>
</mapper>