<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link href="css/mvp.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/mainOne.css">
	<script src="js/SpryDOMUtils.js"></script>
	<script src="js/index_three.js"></script>
</head>
<body background="images/backgroundTwol.jpg">
<div id="top">
	<img src="images/hwx.png" height="55" width="160"/>
	<img src="images/user.jpg" height="40" width="30"/>
		<a th:text="${return_dl}"></a>
</div>
<div id="navbg" th:fragment="copy">
	<nav>
		<a th:href="@{/index}"> 首页 </a>
		<a th:href="@{/index_two}"> 注册 </a>
		<a th:href="@{/enter}"> 登录 </a>
		<a th:href="@{/bookmain}">图书馆</a>
		<a th:href="@{/user}">个人中心</a>
		<a th:href="@{/data/music}">绝版音乐</a>
	</nav>
</div>
<div class="two">
	<a th:href="@{/index_two}">注册</a><br>
	<a th:href="@{/enter}">登录</a><br>
</div>
</body>
</html>