<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>播放</title>
	<script>
		function myfun(){
			
			var xmlhttp=new XMLHttpRequest();
			
			xmlhttp.onreadystatechange=function(){
				
			}
			var url=document.getElementById("id").value;
			var data="id="+url;
			xmlhttp.open("get","/play/?"+data,true);
			
			xmlhttp.send();
			
		}

	</script>
</head>
<body>
	<a th:text="${id}" id="id"></a></br>
	<audio th:href="@{/pary/{id}(id=${id})}" controls="controls" ></audio> </br>
	<input type="submit"  value="播放">
</body>
</html>