<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4xx错误</title>
    <link rel="stylesheet" href="css/mainOne.css">
    <link rel="stylesheet" href="css/4xx.css">
    <script src="js/SpryDOMUtils.js"></script>
    <script src="js/index_three.js"></script>
</head>
<body>
<div id="top"><img src="images/hwx.png" height="55" width="160"/></div>
<div id="navbg">
    <nav>
        <a th:href="@{/index}"> 首页 </a>
        <a th:href="@{/index_two}"> 注册 </a>
        <a th:href="@{/enter}"> 登录 </a>
        <a th:href="@{/ajax}"> BMI</a>
        <a th:href="@{/show}">每日展示</a>
        <!--		<a href="#">加入我们</a>-->
    </nav>
</div>
<div>
   <a>找不到资源</a>
</div>
</body>
</html>